
h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 60px;
    color: rgb(250, 244, 244);
    text-shadow: 2px 2px 5px rgb(250, 47, 29);
    padding: 2em;
}


.container1 img  {
     display:block contents;
    padding: 3em;
    margin-left: 10em;
    margin-right: 3em;
    width: 60%;
    height: 20%;
    opacity: 0.8;
    filter: alpha(opacity=80); 
    border-radius: 10px;
    box-shadow: 3px 3px 7px 5px rgb(252, 16, 16); 
    font-family: 'Pacifico', cursive;
    
     
    
    
}
.overflow {
    overflow: hidden;
  }
  
  .container1 img top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  
  .imtop:hover {
    transform: scale(1.1);
    transition: all 0.2s ;
    border-radius: 5px;
  }

.container1 p {
    padding: 4em;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgb(236, 233, 233);
    text-align: justify;

}